body{


    background-image: linear-gradient(to right , #009245 , #FCEE21);
    
}

#clock{
 text-align: center;
 padding-top: 22vh;


 font-size: 45px;
 font-weight: 100;
  
 font-family: 'Roboto', sans-serif;
 
}



#hour,#min,#second{
    position: relative;
    background-color: aliceblue;
    box-shadow: 6px black;
    padding: 5px;
    border-radius: 10px;
    height: 100px;
    width: 110px;
}

